### Lab-06  Operation on Dictionary and Sets : Hands on practice

### Dictionary

Q1. Create an empty dictionary.

In [2]:
d={}
print(d)

{}

Q2. Create the following dictionary 
   Key	value
a.	A	10
b.	B	20

In [6]:
d={'A':10,'B':20}
print(d)

{'A': 10, 'B': 20}

Q3. Create a dictionary with different datatypes for keys

In [7]:
d={'A':1,12:1,True:3,12.1:4}
print(d)

{'A': 1, 12: 1, True: 3, 12.1: 4}

Q4. Print all the items of a dictionary

In [12]:
d={'A':1,12:2,True:3,12.1:4}
print(d.items())

dict_items([('A', 1), (12, 2), (True, 3), (12.1, 4)])

Q5. Delete an element of a dictionary

In [18]:
d={'A':1,12:2,True:3,12.1:4}
d.pop('A')
print(d)

{12: 2, True: 3, 12.1: 4}

Q6. Delete full dictionary

In [19]:
d={'A':1,12:2,True:3,12.1:4}
d.clear()
print(d)

{}

Q7. Print a value for a key

In [20]:
d={'A':1,12:2,True:3,12.1:4}
print(d[True])

3

Q8. To check if a key id present in a dictionary

In [27]:
a=int(input("Enter the key:"))
b=input("Enter the value:")
d={1:'Apple',2:'Mango',3:'Guava',4:'Banana',5:'Papaya'}
if (a in d.keys()) and (b in d.values()):
    print("Entered Key Value pair is present in dictionary.")
else:
    print("Entered key value pair is not present in dictionary.")

Enter the key:4
Enter the value:Banana
Entered Key Value pair is present in dictionary.

Q9. Update a value of a key

In [28]:
d={1:'Apple',2:'Mango',3:'Guava',4:'Banana',5:'Papaya'}
d[3]='Pomegranate'
print(d)

{1: 'Apple', 2: 'Mango', 3: 'Pomegranate', 4: 'Banana', 5: 'Papaya'}

Q10. Add a new key value pair

In [34]:
a=int(input("Enter new key:"))
b=input("Enter new value:")
d={1:'Apple',2:'Mango',3:'Guava',4:'Banana',5:'Papaya'}
d[a]=b
print(d)

Enter new key:6
Enter new value:Litchi
{1: 'Apple', 2: 'Mango', 3: 'Guava', 4: 'Banana', 5: 'Papaya', 6: 'Litchi'}

Q11. Print dictionary for keys{1,10} and values as square of keys

In [35]:
d={}
d[1]=1*1
d[10]=10*10
print(d)

{1: 1, 10: 100}

Q12. Print nested dictionary

In [40]:
d={1:{4:'j',5:'k'},3:'f'}
print(d)

{1: {4: 'j', 5: 'k'}, 3: 'f'}

Q13. Concatenate three dictionaries.

In [44]:
d={}
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
for i in (dic1,dic2,dic3):
    d.update(i)
print(d)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

Q14. Sum all the values of a dictionary

In [45]:
d={1:12,2:32,3:4,4:8}
s=0
for i in d.values():
    s=s+i
print("Sum of the values of given dictionary is ",s)

Sum of the values of given dictionary is  56

Q15. Accessing an element of a nested dictionary

In [46]:
d={1:{4:'j',5:'k'},3:'f'}
print(d[1][5])

k

Q16.	Write a Python script to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are square of keys.

In [47]:
d={}
for i in range(1,16):
    d[i]=i*i
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

Q17. Insert factorial of keys in values. And print dictionary

In [38]:
d={}
def fact(i):
    f=1
    for j in range(1,i+1):
        f=f*j
    return f
for i in range(1,7):
    f=fact(i)
    d[i]=f
print(d)

{1: 1, 2: 2, 3: 6, 4: 24, 5: 120, 6: 720}

### Sets

Q1. Write a program to create a set.

In [1]:
s={1,2,3,"a",'c','python'}
print("Set is",s)

Set is {1, 2, 3, 'a', 'c', 'python'}

Q2. Write a program to add an element to set.

In [3]:
s={1,2,3,"a",'c','python'}
s.add("programming")
print(s)

{1, 2, 3, 'a', 'c', 'python', 'programming'}

Q3. Write a program to add multiple items using update function.

In [4]:
s={1,2,3,"a",'c'}
s1={'learning','programming','python'}
s.update(s1)
print(s)

{1, 2, 3, 'a', 'c', 'learning', 'python', 'programming'}

Q4. Write a program to find the length of the set.

In [6]:
s={1, 2, 3, 'a', 'c', 'learning', 'python', 'programming'}
print(len(s))

8

Q5. Write a program to remove a value from a set.

In [7]:
s={1, 2, 3, 'a', 'c', 'learning', 'python', 'programming'}
s.remove('learning')
print(s)

{1, 2, 3, 'a', 'c', 'python', 'programming'}

Q6. Write a program to pop an element from a set.

In [9]:
s={1, 2, 3, 'a', 'c', 'learning', 'python', 'programming'}
s.pop()
print(s)

{2, 3, 'a', 'c', 'learning', 'python', 'programming'}

Q7. Write a program to update a set.

In [11]:
s={1,2,3,"a",'c'}
s1={'learning','python','programming'}
s.update(s1)
print(s)

{1, 2, 3, 'a', 'c', 'learning', 'python', 'programming'}

Q8. Write a Python program to create an intersection of sets.

In [12]:
s={1,2,3,"a",'c'}
s1={'learning','python','programming','a',2}
i=s & s1
print(i)

{'a', 2}

Q9. Write a Python program to create a union of sets.

In [14]:
s={1,2,3,"a",'c'}
s1={'learning','python','programming','a',2}
r=s.union(s1)
print(r)

{1, 2, 3, 'a', 'c', 'learning', 'python', 'programming'}

Q10. Write a Python program to clear a set.

In [15]:
s1={'learning','python','programming','a',2}
s1.clear()
print(s1)

set()

Q11. Write a Python program to issubset and issuperset.

In [18]:
s={1,2,3,"a",'c'}
s1={'a',2}
print(s1.issubset(s))
print(s.issuperset(s1))

True
True

Q12. Write a Python program to create set difference.

In [22]:
s={1,2,3,"a",'c'}
s1={'a',2}
r=s-s1
print(r)

{'c', 1, 3}

Q13. Write a Python program to create a symmetric difference.

In [23]:
s={'a', 'b', 'c', 'd'}
s1={'c', 'd', 'e' }
print(s.symmetric_difference(s1))
print(s1.symmetric_difference(s))

{'b', 'a', 'e'}
{'b', 'a', 'e'}